<div class="container">
<div><p>
Click on the pictures to display the title and the copyright.<br>
Note for copyright holders: Should an information be missing or in case of copyright infringement, please contact us. We will react accordingly.</p>
<p>Mit einem Klick auf einem Bild werden der Titel und die Urheberrechte angezeigt.
Information an die Urheberrechtsinhaber: Falls die Informationen unzureichend oder die Urheberrechte nicht richtig berücksichtigt worden sind, bitten wir um eine kurze Benachrichtigung. Wir werden entsprechend reagieren.
</p>
</div>
<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/1.jpg" data-lightbox="set" data-title="John Waters<br>©Sarah Edlund"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/1_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/2.jpg" data-lightbox="set" data-title="Judith Butler<br>©Dontworry"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/2_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/3.jpg" data-lightbox="set" data-title="Monique Wittig<br>©Colette Goeffrey"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/3_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/4.jpg" data-lightbox="set" data-title="Annie Sprinkle<br>©Randal Alan Smith"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/4_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/5.jpg" data-lightbox="set" data-title="Michel Foucault<br>©Rechteinhaber unbekannt"><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/5_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/6.jpg" data-lightbox="set" data-title="Aus dem Projekt Bug Chaser<br>©Scott LaForce"><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/6_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/7.jpg" data-lightbox="set" data-title="Gay Pride March, New York, 1978<br>©The Lesbian, Gay, Bisexual & Transgender Community Center"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/7_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/8.jpg" data-lightbox="set" data-title="Aus dem Bildband Dur Labeur<br>©Marc Martin"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/8_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/10.jpg" data-lightbox="set" data-title="Derek Jarman<br>©Keith Collins"><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/10_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/11.jpg" data-lightbox="set" data-title="Jürgen Baldiga, Ichgola Androgyn, 1988<br>©Nachlass Jürgen Baldiga"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/11_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/12.jpg" data-lightbox="set" data-title="Brad Davis<br>©Roger Fritz"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/12_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/13.jpg" data-lightbox="set" data-title="Annie Sprinkle, as The Neo Sacred Prostitute<br>©Amy Ardrey"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/13_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/14.jpg" data-lightbox="set" data-title="Simone de Beauvoir<br>©photo coll. Sylvie le Bon de Beauvoir/Diffusion Gallimard"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/14_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/15.jpg" data-lightbox="set" data-title="Virginie Despentes à l'avant-première du film Bye Bye Blondie<br>©Georges Biard"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/15_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/16.jpg" data-lightbox="set" data-title="Horpe Area, Waterton Lakes 1978 (Rediscovered 2013)<br>©Ralf Marsault"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/16_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/17.jpg" data-lightbox="set" data-title="Zeitschrift Bitch Magazine<br>©Bitch Magazine"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/17_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/18.JPG" data-lightbox="set" data-title="Patsy l’Amour laLove<br>©Dragan Simicevic Visual Arts -1"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/18_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/19.jpg" data-lightbox="set" data-title="Logo von der Gruppe Mujeres Creando"><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/19_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/20.jpg" data-lightbox="set" data-title="Ovo Maltine<br>©Ingo Taubhorn"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/20_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/21.jpg" data-lightbox="set" data-title="Marcel Proust, Bild von Otto Wegener<br>lizenzfrei"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/21_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/22.jpg" data-lightbox="set" data-title="Jason Whipple by Miguel Villalobos<br>©2014 BUTT magazine"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/22_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/23a.jpg" data-lightbox="set" data-title="Zoë&Layana<br>©Alexa Vachon, 2014"><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/23a_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/24.jpg" data-lightbox="set" data-title="Album Penis Envy, Crass<br>©Exitstencil Press"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/24_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/25.jpg" data-lightbox="set" data-title="Bette Davis und Joan Crawford, aus dem Film Whatever Happened to Baby Jane<br>lizenzfrei "><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/25_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/26.jpg" data-lightbox="set" data-title="Götterspeise<br>©Ralf König"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/26_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/27a.jpg" data-lightbox="set" data-title="Emy Fem<br>©Copyright Alexa Vachon, 2014"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/27a_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/28.jpg" data-lightbox="set" data-title="Truman Capote, 1959. New York World-Telegram and Sun collection at the Library of Congress<br>lizenfrei"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/28_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/29.jpg" data-lightbox="set" data-title="Angela Davis, Graffiti im Museum Adobe of Chaos<br>lizenzfrei"><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/29_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/30.jpg" data-lightbox="set" data-title="John Waters and His Divine Flamingoes. Acrylic. 2008<br>©Maxe Smith"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/30_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/31a.jpg" data-lightbox="set" data-title="Kay Garnellen<br>©Alexa Vachon, 2013"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/31a_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/32.jpg" data-lightbox="set" data-title="Kate Bornstein<br>©Internal Arts Photography"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/32_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/33.jpg" data-lightbox="set" data-title="Fannie Headäk<br>©Guillaume Carpentier"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/33_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/34.jpg" data-lightbox="set" data-title="Spiegelbild RM/HM<br>©Heino Muller"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/34_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/35.jpg" data-lightbox="set" data-title="Michel Foucault<br>©Rechteinhaber unbekannt"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/35_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/36.jpg" data-lightbox="set" data-title="Logo von Act Up"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/36_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/37.jpg" data-lightbox="set" data-title="Oscar Wilde<br>lizenzfrei"><img class="img-thumb_h" alt="queerlibrary" src="/galerie/img/37_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/38.JPG" data-lightbox="set" data-title="Patsy l’Amour laLove<br>©Dragan Simicevic Visual Arts -1"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/38_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/39.jpg" data-lightbox="set" data-title="Virginia Woolf<br>lizenzfrei"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/39_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/40.jpeg" data-lightbox="set" data-title="Man Pissing on Chair<br>©Wolfgang Tillmans"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/40_thumb.jpg"></a>
</div>

<div class="col-xs-3 festehoehe rand text-center">
<a href="/galerie/img/41.jpg" data-lightbox="set" data-title="Divine<br>©Greg Gorman"><img class="img-thumb_v" alt="queerlibrary" src="/galerie/img/41_thumb.jpg"></a>
</div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/galerie/js/jquery.js"></script> 
<script src="/galerie/js/lightbox.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/galerie/js/bootstrap.js"></script>

<script>
    lightbox.option({
	'alwaysShowNavOnTouchDevices': true,
      'resizeDuration': 200,
	  'fadeDuration': 1000,
      'wrapAround': true,
	  /*'maxWidth': 500,*/
	  'fitImagesInViewport': true,
	  'positionFromTop':50,
	  'albumLabel': "%1 of %2"
    })
</script>
