@import url(https://fonts.googleapis.com/css?family=Asap:400,700&subset=latin,latin-ext);

html {
    font-size:10px;
}

.ui-widget,
body {
    font-size:14px;
    font-family: 'Asap', sans-serif;
}

body.html {
    min-width:1024px;
}

body.cke_editable {
  min-width: 0 !important;
}

ul.menu {
    margin:0;
    padding:0;
}

.autocomplete-deluxe-highlight-char,
a {
    text-decoration:none;
    color:#AC1933;
    display:inline-block;
    /*text-shadow:0.1em 0.1em 0.05em rgb(255, 230, 173);*/
    /*border-bottom:1px solid #AC1933;*/

}
a {
    color:#AC1933;
}

.listbox h2, .block__title {
  margin: -0.83em 0 0;
  text-transform: uppercase;
}
h1, #edit-title-field textarea´,
.node-form textarea#edit-title {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    font-weight:bold;
    /*text-transform:uppercase;*/
}
 
article, .views-row {
    position:relative;
}
