.two-sidebars.node-type-blog #content, .view-blog article.node-blog {
  background-color: rgba(220,220,220,0.1) !important;
  margin-top: 0;
  /*padding: 12.5% 10% 10% 5% !important;*/
  padding: 9.5% 3% 9% !important
}

.submitted {
 /* bottom: 0;
  position: absolute;
  right: 2em;**/
}

.submitted img {
  height: 2em;
  vertical-align: middle;
  width: 2em;
}

.node-promoted .submitted {
	visibility:hidden;
}


/*
.page-node #content::after {
  border-left: 2px solid black;
  content: " ";
  display: block;
  height: 85%;
  left: 2.5em;
  position: absolute;
  top: 7.5%;
}*/


/*
 * Teaser --------------------
 */

.node-blog.node-teaser .node__title.node-title {
  margin-bottom: 0;
  margin-top: -1em;
}

.read-more {
    font-weight:bold;
    display:inline;
}

/*
 * Layout --------------------
 */

.two-sidebars  #content,
.section-blog #content {
  float: left;
  margin-left: 25%;
  margin-right: -75%;
  width: 50%;
}

.two-sidebars .region-sidebar-first {
  float: left;
  margin-left: 0;
  margin-right: -25%;
  width: 25%;
}

.two-sidebars .region-sidebar-second {
  float: left;
  margin-left: 75%;
  margin-right: -100%;
  width: 25%;
}

.section-blog.node-type-blog h1.page__title, 
.front .page__title {
  margin: -3em 0 0.75em;
  text-align: left;
}

.section-info.node-type-blog h1.page__title {
  margin: 0 0 0.75em;
  text-align: left;
}

article.node-blog h2 {
  font-size: 2em;
  margin-bottom: 1em;
}


article.node-blog {
  line-height: 1.8em;
  font-size: 14px;
}



#comments {
  margin-top: 15px;
  width: 66%;
}

#comments .form-item {
  margin:0;
}


.listbox.news .view-neues .views-row {
  height: 3.5em;
  line-height:32px;
}

.view-neues .views-row img {
  vertical-align:bottom;
}

.view-neues .views-row .views-field-title a {
  display: inline-block;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  margin-left:0.3em;
}