/* layout.css 
TESTEINMTRAG*/

.region-sidebar-first  {
  padding-right:3em;
}

.region-sidebar-second {
    padding-left:3em;
}

#admin-menu, #admin-menu-wrapper {
    height:20px;
}
 
header#header {
  font-size: 0.75em;
  height: 27em;
  position: relative;
  z-index: 1;
  padding: 0;
}


.region.region-navigation {
  height: 60px;
  margin: 0;
}

.node-type-splashpage .region.region-footer {
    display:none;
}

.region.region-footer .block,
.region-navigation .block-menu-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 1000px;
  text-align: right;
}

.region-footer .block {
  width: 24%;
  margin-left: 50px;
  display: inline-block;
  vertical-align: top;
  text-align: left !important;
}

.region-footer .block a {
	color: #FFCCF2;
}


.region-navigation .block-menu-block .menu-block-wrapper {
  display: inline-block;
  margin-top: 1em;
}

.region.region-footer {
  padding: 3em;
  margin-top: 6em;
}




.header__name-and-slogan {
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  margin-top:4em;
}

.header__site-slogan {
    margin-bottom: 20px;
}

.header__logo {
  float: left;
  height: 12em;
  margin: -2em 0 4em;
  padding: 0;
  text-align: center;
  width: 100%;
}

.header__site-name {
  font-size: 6em;
  line-height: 1.5em;
  margin: 0 0 -20px -5px !important;
  margin-block-end: 0;
}


.sidebar-first .region-sidebar-first {
  float: left;
  margin-left: 0;
  margin-right: -33%;
  width: 33%;
}

#main {
  padding-top: 0;
  position: relative;
  clear:left;
}



.sidebar-first #content {
  float: left;
  margin-left: 33%;
  margin-right: -100%;
  width: 66%;
}

/*.no-sidebars #content {
    margin-left:25%;
    margin-right:25%;
}*/

.page-user-register.two-sidebars #content,
.page-user-register.two-sidebars .sidebar,
.page-user-me.two-sidebars #content,
.page-user-me.two-sidebars .sidebar {
    width:33%;
    margin-left:33%;
    margin-right:-66%;
 } 


 
.page-taxonomy-term-edit.insideregions .region.region-sidebar-first.column.sidebar {
  margin-right: -33%;
  width: 33%;
}

.insideregions.page-taxonomy-term-edit #content {
  margin-left: 33%;
  margin-right: -83%;
}
 
 
.page-blog  #content,
.sidebar-first #content {
  float: left;
  margin-left: 33%;
  margin-right: -100%;
  width: 66%;
}

article.node-teaser {
    margin-bottom:3em;
}

#content {
    margin-bottom:7em;
}

/* 
 * Navigation 
 */


#navigation {
  font-size: 2em;
  height: 3em;
  margin-top: 4.5em;
  position: static;
  text-align: center;
  width: 100%;
}

#navigation nav {
  display: inline-block;
  float: none;
}

#navigation nav:first-child {
	margin-right:0em;
}


.menu-block-wrapper ul {
	text-align:center;
}

.menu-block-wrapper li {
	display:inline-block;
	font-size:1.5em;
	margin:0.5em;
	
}

.block.block-menu-block {
  position: relative;
  z-index: 1;
}
/*
 * User login
 */

.page-user-login #main {
  text-align: center;
}

.page-user-login #content {
  display: inline-block !important;
}

form#user-login {
  display: inline-block;
  text-align: left;
}

/*
 *  User, Medium : 3x 1/3-Spalten
 */

/*.node-type-medium.two-sidebars .region-sidebar-first,*/
.page-user-register.two-sidebars .region-sidebar-first,
.page-user-me.two-sidebars .region-sidebar-first {
    float: left;
    margin-left: 0;
    margin-right: -33%;
    width: 33%;
}

/*.node-type-medium.two-sidebars .region-sidebar-second,*/
.page-user-register.two-sidebars .region-sidebar-second,
.page-user-me.two-sidebars .region-sidebar-second {
  float: left;
  margin-left: 66%;
  margin-right: -100%;
  width: 33%;
}


/*.node-type-medium.two-sidebars #content,*/
.page-user-register.sidebar-second #content,
.page-user-me.sidebar-second #content {
  width: 33%;
  float: left;
  margin-left: 33%;
  margin-right: -66%;
}

/*.node-type-medium .region-sidebar-second,*/
.sidebar-second .region-sidebar-second {
  float: left;
  margin-left: 66%;
  margin-right: -100%;
  width: 33%;
}

.two-sidebars #content, .region-sidebar-second {

}

.insideregions form {
  position: relative;
  top: -0.75em;
}

.insideregions .tabs-primary.tabs.primary {
  left: 33%;
  margin-left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}

.insideregions #content {
  padding-top: 0 !important;
}

/*
 *  Elemente
 */

.sidebar .views-field-field-titelbild {
  float: none;
  display: inline-block;
}

.views-field-field-titelbild a {
  display: block;
  width: 100%;
}

.sidebar .views-field-field-titelbild img {
    width:100%;
    height:auto;
}