.flag-message {
    position: static;
}

.page-user-me-medien #block-views-user-profil-block {
  display: none;
}

#block-views-exp-library-page-1,
#block-views-exp-library-page {
  padding-top: 1em;
  position: relative;
  top: 0;
}

#block-views-exp-library-page-1 {
    padding-top:3em;
}


#block-views-exp-library-page-1::before,
#block-views-exp-library-page::before {
  background: url("../images/Lupe.png") no-repeat scroll center center, transparent none repeat scroll 0 0;
  content: " ";
  display: block;
  height: 75px;
  left: 0;
  position: absolute;
  top: -35px;
  width: 100%;
  z-index: 5;
}

.view-library .view-header {
  background-color: #f1f1f1;
  margin-bottom: 3em;
  padding-right: 1em;
  text-align: right;
}

.views-exposed-form {
    padding-left:0;
    padding-right:0;
    width:100%;
    margin-right:15px;
    font-size:1em;
    margin-top: 1.5em;
}

.views-exposed-form label {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.views-widget .form-type-select {
  overflow-x: hidden;
}

.views-widget .form-type-select.form-item-field-bezirk-tid {
    overflow-x:visible;
}

.views-widget .form-type-select select {
    min-width:calc(100% + 2em);
    max-width:calc(100% + 2em);
}  

.views-widget .form-type-select:hover select {
    min-width:100%;
    max-width:100%;
}

.bef-checkboxes {
  overflow-x: visible;
  white-space: nowrap;
}

ul.field-name-field-lgbtiaqf {
    margin:0;
    padding:0;
}

.field-name-field-themen .field-item {
    display:inline-block;
}


.field-name-field-themen .field-item:after {
    content:",";
    margin-right:0.5em;
    display:inline-block;
}

.field-name-field-themen .field-item:last-child:after {
    content:"";
}

.views-exposed-form .views-widget-filter-field_lgbtiaqf_tid .form-item label,
.field-name-field-lgbtiaqf .field-item a, 
.form-field-name-field-lgbtiaqf .form-item.form-type-checkbox,
#edit-field-lgbtiaqf-und .form-item label {
  background-color: white;
  display: inline-block !important;
  font-size: 16px;
  height: 1.25em;
  line-height: 1.15em;
  margin-right: 9px !important;
  text-align: center;
  width: 1.30em;
}

#edit-field-lgbtiaqf-und .form-item label {
  height: 28px;
  line-height: 2em;
  margin-right: 16px;
  padding: 0;
  width: 28px;
}

.views-exposed-form .views-widget-filter-field_lgbtiaqf_tid label,
.field-name-field-lgbtiaqf .field-item a {
    font-size:16px;
    font-weight: bold;
    padding:0.3em;
}

.field-name-field-lgbtiaqf .field-item a {
    border-bottom:1px solid black;
}

.form-field-name-field-lgbtiaqf .form-item.form-type-checkbox   {
    font-size:1.5em;
}
.views-exposed-form .views-widget-filter-field_lgbtiaqf_tid input,
.form-field-name-field-lgbtiaqf .form-item.form-type-checkbox   input {
    display:none;
}

.views-exposed-form .views-widget-filter-field_lgbtiaqf_tid .form-item label,
.form-field-name-field-lgbtiaqf .form-item.form-type-checkbox  label,
label.shortlabel {
  color: grey;
  cursor: pointer;
  display: block;
  height: 100%;
  padding-top: 0.2em;
  width: 100%;
  margin-bottom: -0.2em;
  box-sizing: border-box;
  font-weight:bold;
}

.views-exposed-form .views-widget-filter-field_lgbtiaqf_tid input:checked + label,
.form-field-name-field-lgbtiaqf .form-item.form-type-checkbox  input:checked + label,
input:checked + label.shortlabel {
  border-bottom: 2px solid #ac1933;
  color: #ac1933;
}


.views-exposed-form .views-exposed-widget {
    box-sizing: border-box;
    float: none;
    margin-bottom: 1em;
    padding: 0;
}



svg {
    height: auto;
    width:100%;
    transition:transform .1s ease-in-out;
    position:relative;
    z-index:50;
}

#edit-bezirk-wrapper .description {
    padding-bottom: 82.22%;
    height: 0;
    position: relative;
}

#edit-bezirk-wrapper .description  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.views-exposed-form input.form-text {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
}

.views-exposed-form input[type=text], .views-exposed-form select {
  border-bottom: 1px solid black;
  border-image: none;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  padding: 5px;
}

.views-exposed-form select {
    max-width: 100%;
    margin-right: 1em;
}
/*
.views-exposed-form svg:hover {
    transform:scale(2);
    box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
*/
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
}

.views-exposed-form .views-exposed-widget input[type="submit"] {
    float: right;
    width: calc(50% - 5px);
}

.views-exposed-form .views-exposed-widget input#edit-reset[type="submit"] {
    background-color:grey;
    margin-left:0;
}    

.views-exposed-widget.views-reset-button input[type="submit"] {
  float: left;
}

g {
    pointer-events:none;
}

#Kontur polyline {
  stroke: #AC1933 !important;
  stroke-width: 8;
  fill: none;
}

#Bezirke > g {
    fill: lightgrey;
    pointer-events:auto;
    opacity:0.5;
    cursor:pointer;
    stroke: #AC1933;
    stroke-width: 2;
}

#Bezirke > g.checked {
    fill: #AC1933;
}

.views-widget-filter-field_bezirk_tid .form-checkboxes {
    display:none;
}

.views-field-flagging-id:after ,
.node-medium.node-teaser  > *:last-child:after  {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}



.view-footer p {
    text-align: left;
    font-size: 0.9em;
    margin-top: 5px;
    margin-left: 5px;
}


.view-library .views-row {
  margin-bottom: 1.5em;
  position: relative;
}

.view-library .views-row.ausgeliehen::after {
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  color: #ff007f;
  content: "z.Zt. verliehen!";
  display: inline-block;
  font-size: 1.15em;
  font-weight: bold;
  height: 1em;
  padding: 0.25em 1.3em 0.5em 0.5em;
  position: absolute;
  right: -0.9em;
  top: 1em;
  transform: rotateZ(10deg);
}

#content .views-field-field-titelbild, .field-name-field-titelbild {
  display: block;
  float: left;
  min-height: 190px;
  max-width:100%;
}

.node-medium.view-mode-sidebar .field-name-field-titelbild {
    float:none;
    margin-bottom:1em;
}

.node-medium.view-mode-sidebar .field-name-field-sprache,
.node-medium.view-mode-sidebar .field-name-field-sprache * {
    display:inline;
}

.node-medium.view-mode-sidebar .field-name-field-sprache:before {
    content:", ";
}


.node-medium.view-mode-sidebar .field.field-name-field-lgbtiaqf {
  display: block;
}

.field-name-field-titelbild a {
    max-width:100%;
}

.views-field-field-titelbild {
    /*width:100px;*/
    text-align:right;
}
.views-field-field-titelbild > * {
    display:inline-block;
}

.view-library .views-field-nothing {
    font-size:1.5em;
}



/*
 *	Medium
 */

.node-type-medium h1.page__title {
  text-align: left;
  margin: 0;
}

.node-medium .content {
  display: block;
  float: left;
  width: 70%;
}

.view-mode-full.node-medium .content {
  display: block;
  float: left;
  width: 100%;
}

article.node-medium.node-teaser {
    min-height: 150px;
    padding:1em;
    position: relative;
    background-color:#f1f1f1 !important;
    margin-bottom: 3em;
    transition:all 1s ease;

}

.field-name-field-author-in a {
    text-transform: uppercase;
    font-weight:bold;
    border-bottom:1px solid black;
}

article.node-medium.node-teaser a {
    color:black;
    
}

article.node-medium.view-mode-full .field {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.node-medium .field.field-name-title-field {
  line-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

.node-medium h2 {
  font-size: 2em;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-transform: uppercase;
}

.node-medium  img {
    margin-right:1em;
}

.node-medium.node-teaser img {

}


.node-medium h3, .node-medium h3 * {
    clear: left;
    display: inline-block;
    margin: 0;
}

.node-medium.view-mode-full .field-name-body {
    display:block;
    float:left;
    margin-bottom:1em;
}

.node-medium.view-mode-full .field-label-above {
    width:20%;
    float:left;
}


.node-medium.node-teaser  .node-readmore {
    display:none;
}

.node-medium.node-teaser .field-type-taxonomy-term-reference {
    margin: 0 1em 0 0;
    padding: 0;
}


.node-medium.node-teaser .field-type-taxonomy-term-reference.field-name-field-author-in {
  display: block;
  margin-right: auto;
  width: 100%;
  font-weight:bold;
}

.node-medium.node-teaser .field-type-taxonomy-term-reference, .node-medium.node-teaser .field-type-taxonomy-term-reference * {
    display:inline;
}

.node-medium.node-teaser .field-name-body  {
    margin-top:0;
}

.node-medium.node-teaser .links {
    display:block;
    float:right;
}



.node-medium .field.field-name-field-lgbtiaqf {
  display: inline-block;
  padding-top: 1em !important;
  padding-bottom: 1.5em;
  z-index: 1;
}

.views-exposed-form .views-widget-filter-field_lgbtiaqf_tid .form-item.form-type-bef-checkbox, 
.node-medium .field.field-name-field-lgbtiaqf .field-item,
#edit-field-lgbtiaqf .field-item{
  display: inline-block;
  height: 2em;
  margin-right: 1.15em;
  width: 2em;
}

.contextual-links-region .field-item{
	margin-right:0.5em !important;
}


.views-exposed-form .views-widget-filter-field_lgbtiaqf_tid a, 
.node-medium .field.field-name-field-lgbtiaqf .field-item a {
  color: black;
  display: inline-block;
}

.node.node-medium > a {
  display: block;
  float: left;
}
.node.node-medium > a:after {
    content:", ";
    margin-right:0.5em;
}
.field.field-name-field-icon {
  position: absolute;
  right: 0;
  top: 1em;
}

.view-mode-teaser .flag-outer.flag-outer-besitz {
  position: absolute;
  top: 1em;
  right: 1em;
  display:none;
}

.node-medium.node-teaser :hover .flag-outer.flag-outer-besitz {
    display:block;
}


.flag-outer-besitz a.unflag-action {
      background-color: #AC1933;
}

.views-field-flagging-id .btn,
.btn.add.medium,
.flag-outer-besitz a {
      background-color: #98CA00;
}

.flag-outer-besitz a {
    margin-left:0;
}

.views-row.mymedia .flag-outer-besitz {
    display:none !important;
}

.views-row.mymedia:hover .flag-outer-besitz {
    display:table !important;
    bottom:0;
}

.views-row.mymedia:hover .views-field-php {
    display:none;
}

.views-row.mymedia .views-field-php,
.views-row.deleted .views-field-php,
.views-row.added .views-field-php{
    display:none;
}

.views-row.deleted article {
  background-color: #ac1933 !important;
  min-height: 4em;;
}

.views-row.deleted article .field-type-taxonomy-term-reference, .views-row.deleted article .field-type-image {
  display: none !important;
}

.views-row.deleted article * {
    color:white !important;
    transition:color 1s ease;
}


.views-row.deleted .flag-outer-besitz,
.views-row.mymedia .flag-outer-besitz,
.views-field-flagging-id {
  bottom: 1em;
  display: table;
  position: absolute;
  right: 1em;
  z-index: 5;
}

.views-field-flagging-id a {
    white-space:nowrap;
}

.views-row.deleted .flag-outer-besitz {
    top:0em;
    bottom:unset;
}

.views-field-flagging-id > * {
    display:table-cell;
    vertical-align:middle;
}

.views-field-flagging-id img {
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: 0.25em;
  transition: transform 0.1s ease-in-out 0s;
  vertical-align: middle;
  width: 32px;
}

.view-display-id-page .views-field-flagging-id:hover img {
    transform:scale(1.35);
    box-shadow:5px 5px 3px rgba(0,0,0,0.2);
    border: 1px solid #ac1933;
}

#block-views-neues-block-3 {
  background-color: transparent;
  padding: 0;
}

#block-views-neues-block-5 {
  background-color: transparent;
  text-align: right;
}

    #block-views-neues-block-5 .views-field-field-status {
      font-size: 0.7em;
      margin-top: -1em;
    }

    
    #block-views-neues-block-5 .views-row img {
        vertical-align: bottom;
        border-radius: 50%;
    }

#content .block-image {
  float: right;
  margin-top: -60px;
}
#content .block-image img {
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;

}

#edit-description-field-und-0-format {
    display:none;
}

/*
.flag-besitz a {
    display: block;
    text-indent: -10000%;
    width: 64px;
    height: 64px;
}


.flag-besitz a.flag-action:before {
    content:"+";
}


.flag-besitz a.flag-action:hover:before  {
    content:"hinzufügen";
}

.flag-besitz a.unflag-action:before  {
    content:"✓";
}

.flag-besitz a.unflag-action:hover:before  {
    content: "entfernen";
}*/


/*

.node-medium .flag-outer  {
    position:absolute;
    bottom:1em;
    right:1em;
}






.view-library .views-row .views-field.views-field-flagging-id {
    display:none;
}

.view-library .views-row {
    position:relative;
}

.view-library.view-display-id-page  .views-row:hover {
    background-color:lightgrey;
}

.view-library.view-display-id-page .views-row:hover .field-name-field-titelbild{
    opacity:0.5;
}

.view-library.view-display-id-page .views-row:hover .views-field.views-field-flagging-id {
    display: table;
    width:530px;
    height:270px;
    background-color: white;
    text-align: center;
}

.view-library.view-display-id-page .views-row:hover .field-name-body {
    visibility:hidden;
}*/