/* message.css */

.message-private .flag-outer,
#anfrage-message-form .flag-outer {
    display:none;
}

.message-private .profile h3 {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 125%;
  min-height:3em;
}

#anfrage-message-form .node-medium {
  float: left;
  max-width:33%;
}

#anfrage-message-form div#anfrage {
  float: left;
  margin-left: 3em;
}

#anfrage-message-form .profile {
  clear: none;
  display: inline-block;
  float: none;
  font-size: 1em;
  text-align: center;
  vertical-align: bottom;
}

#edit-field-dauer {
  font-size: 2em;
  float: none;
  display: inline-block;  
  
}

.form-item-field-dauer-und-0-value {
    display:inline-block;
}

#edit-field-dauer label {
    margin-bottom:0.5em;
    display:inline-block;
}

#edit-field-dauer span {
    font-weight:bold;
    display:inline-block;
}

#edit-field-dauer span.form-required {
  display: none;
}


#anfrage-message-form #edit-actions {
    font-size: 2em;
    float:none;
}

#anfrage-message-form #edit-actions #edit-submit {
    margin-left:0;
}

/*
 *	Nachrichten Anzeige
 */

.entity.entity-reply.reply-antwort {
    clear: both;
    display: block;
    margin-bottom: 0.25em !important;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;
    position:relative;
}

.reply-body {
  display: block;
  width: 100%;
}

.reply-body .field-name-field-set-time, 
.reply-body  .field-name-field-set-state {
  display: block;
  padding-left: 1em;
  position: absolute;
  right: 1.25em;
  text-align: right;
  top: 4em;
  width: 25%;
  color:#ac1933;
}

.reply-body .field-name-field-set-time b, 
.reply-body  .field-name-field-set-state b {
    white-space:nowrap;
}


.field-name-field-set-time+.field.field-name-field-set-state {
  margin-top: 4em;
}

.reply-body .field.field-label-above:nth-child(1) {
    top:3em;
}

.reply-time {
  font-size: 0.8em;
  margin-top: -1.5em;
  position: absolute;
  right: 1em;
  text-align: center;
  top: 3.5em;
  width: 100px;
}

.message-private .submitted {
    display:none;
}

.field.field-name-field-anfragestatus.field-type-list-text.field-label-inline.clearfix {
  box-sizing: border-box;
  margin-left: 150px;
  width: 30%;
}

.field.field-name-field-zeitlimit.field-type-datetime.field-label-inline.clearfix {
  float: left;
  max-width: 20%;
  min-width: 20%;
  width:auto;
}


.field.field-name-field-anfragestatus.field-type-list-text.field-label-inline.clearfix::after {
    clear: none;
    content: none;
    display: inline;
    height: 0;
    visibility: hidden;
}

.field-name-field-message-user-ref {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  height: 9em;
  margin-right: 15px;
  text-align: center;
  width: 6em;
}

.reply-body .field-name-field-message-user-ref, .field-name-field-antworten .field.field-name-field-message-user-ref {
  display: table-cell;
  margin-left: 0;
  margin-right: 0;
  margin-top: -2em;
  position: relative;
  width: 20%;
  z-index: -7;
}

.field-name-field-message-user-ref .field-item {
    width:auto;
    display:inline-block;
}

.field-name-field-message-user-ref .field-item aside {
  display: block;
  margin-left: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 2em;
  position: relative;
    text-align: center;
  width: 100%;
}

.field-name-field-message-user-ref .field-item aside  h2 {
    color:white;
}

.field-name-field-message-user-ref .field-item.even {
    text-align:center;
}

.field-name-field-message-user-ref .field-item.odd {
    text-align:left;
}

.user-picture {
    float:none;
}

.user-picture img {
    border-radius: 50%;
    height: 4.5em;
    margin: 0;
    width: 4.5em;
}

.field.field-name-field-medium.field-type-entityreference {
  display: block;
  float: left;
  margin-bottom: -10em;
  position: relative;
  width: 100%;
  z-index: -5;
}

.field.field-name-field-medium.field-type-entityreference
article.node-medium.node-teaser {
  background-color: #f1f1f1 !important;
  margin-bottom: 3em;
  min-height: 150px;
  padding: 1em 1em 7em;
  position: relative;  
}

.message-private-message .node-medium .field.field-name-field-lgbtiaqf {
  display: none;
}

.content > .field-name-field-message-user-ref {
  float: right;
  margin-bottom: 0em;
  margin-top: -3em;
}

.message-private .content > .field-label-inline {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  width: 40%;
}

.message-private .content > .field-label-inline .field-label {
  color: #ac1933;
  font-weight: bold;
  float: none;
  display: block;
}




/*
 *	Antworten
 */


.replies-form {
  clear: both;
  padding-top: 2em;
  position: relative;
  z-index: 5;
}

.replies-form .form-submit {
  margin: 0;
  padding: 0.75em;
  width: 100%;
  font-size: 0.75em !important;
  text-align: left;
}

.grippie {
    display:none;
}


.field-name-field-antworten {
  margin-bottom: 2em;
  margin-left: 0;
  width: 100%;
}

.view-antworten .views-row {
  background-color: transparent;
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}


.view-antworten .item-list ul {
  font-size: 1em;
  margin: 0 0 2em 100px;
  padding: 0;
  width: 55%;
}

.view-antworten .item-list:first-child {
    display:none;
}


.message-private .field-name-field-medium article {
    width:100%;
}

.field-name-field-antworten #edit-field-body textarea, 
.reply-body .field.field-name-field-body.field-type-text-long.field-label-hidden, article.reply-antwort .field-name-field-body {
  background-color: white;
  border: 1px solid grey;
  box-sizing: border-box;
  color: gray;
  display: block;
  float: left;
  font-size: 1em;
  margin-bottom: 0;
  min-height: 13em;
  padding: 1em;
  position: relative;
  vertical-align: middle;
  width: 80%;
}


.message-private .field-name-field-medium article {
  display: block;
  margin-right: 3em;
  box-sizing: border-box;
  border: 0;
}

#content article.message-private-message, #content article.entity-reply {
  background-color: transparent;
}

.field-name-field-antworten #edit-field-body::after,
.reply-body .field.field-name-field-body.field-type-text-long.field-label-hidden::after {
    background-color: white;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    content: " ";
    display: block;
    height: 2em;
    left: -1em;
    position: absolute;
    top: 2em;
    transform: scale(1.5, 0.5) rotate(-45deg);
    width: 2em;
    z-index: 6;
	border-bottom-right-radius: 100%;
}

.field-name-field-antworten #edit-field-body::after {
    background-color: #FFE5E5;
}

article.reply-antwort .field-name-field-body .field-item, .field-name-field-antworten #edit-field-body textarea {
  font-size: 2em;
  position: relative;
  z-index: 0;
  line-height: 150%;
}

.field-name-field-antworten #edit-field-body textarea {
  background-color: #ffe5e5 !important;
  color: black;
  min-height: 10em;
  padding-right: 214px;
  font-size: 1.5em;
}

article.reply-antwort .field-name-field-body .field-item {
  font-size: 1.5em;
  position: relative;
  width: 75%;
  z-index: 7;
}

#edit-field-body label {
    display:none;
}

#edit-field-set-time, #edit-field-set-state, .field-name-field-antworten #edit-actions {
  background-color: #f1f1f1;
  bottom: 8px;
  box-sizing: border-box;
  clear: both;
  margin-right: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  text-align: left;
  width: 215px;
  border-right: 1px solid black;
}

#edit-field-set-time {
  margin-bottom: 4em;
}

#edit-field-set-state {
  margin-bottom: 9em;
}

.field-name-field-antworten #edit-actions {
  clear: both;
  float: right;
  font-size: 2em;
  margin: -2em 0 0;
  padding: 0;
}

.field-name-field-antworten #edit-field-body {
  box-sizing: border-box;
  display: inline-block;
  float: none;
  overflow: visible;
  position: relative;
  width: 80%;
}


.field-name-field-antworten .form-item {
    margin:0;
}

#edit-field-set-time .description {
    display:none;
}

.container-inline-date .date-padding {
    padding:0;
}




/*
 *	Message View
 */

.view-nachrichten .view-content > h3 {
    border-bottom: 6px double black;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    text-transform: uppercase;
    cursor:pointer;
}

.collapse-block {
    transition:height 1s;
}

.view-nachrichten .view-content > h3:after {
    content:" [-]";
    color:#AC1933;
}

.view-nachrichten .view-content > h3.collapsed:after {
    content:" [+]";
    color:#AC1933;
}

.collapse-block {
    margin-left: -14px;
    margin-right: -12px;
}

.view-nachrichten.listbox h2 {
    margin:0;
}

.view-nachrichten.listbox > .view-content > .views-row {
    border-bottom: 1px solid black;
    opacity: 1;
    max-height: 4em;  
}

.view-nachrichten.listbox  > .view-content > .views-row.views-row-last {
    border: 0px solid transparent;
}


.views-field.views-field-field-icon {
  float: left;
  vertical-align: middle;
  width: 40px;
}

.listbox > .view-content > .views-row > .views-field-field-subject a, 
.listbox > .view-content > .views-row > .views-field-field-subject-1 a {
  display: block;
  /*font-weight: bold;*/
  line-height: 36px;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}


.listbox .field-content.title {
  margin: 0;
}


.view-nachrichten.listbox  .views-row.ungelesen {
    opacity:1;
}

.view-nachrichten.listbox  .views-row * {
    font-weight:normal;
}

.view-nachrichten.listbox  .views-row.ungelesen * {
    font-weight:bold;
}

.view-nachrichten.listbox .views-row.active {
  background-color: #ac1933;
  margin-top: -0.25em;
  opacity: 1;
  padding-top: 0.75em;
}
.view-nachrichten.listbox  .views-row.active * {
    color:white;
}





.listbox .profile.self {
    display:none;
}

.listbox .profile.teaser {
  margin: 0;
  text-align: left;
}

.views-field-field-message-user-ref ul,
.views-field-field-message-user-ref ul li {
    display:block;
    padding:0;
    margin:0;
    text-align:center;
}



.listbox .profile .user-picture {
  display: inline-block;
  text-align: center;
  width: 36px;
}

.listbox .profile .user-picture img {
  height: 32px;
  margin-top: -8px;
  vertical-align: middle;
  width: 32px;
}

.listbox .profile h3 {
  display: inline-block;
  font-size: 1em;
  line-height: 36px;
  text-align: left;
}

.views-field.views-field-field-zeitlimit {
  margin-left: 40px;
}


.views-field.views-field-mid a {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.view-antworten .pager {
    clear: both;
    font-size: 2em;
    padding-top: 2em;
}


.listbox .views-row {
  cursor: pointer;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  white-space: nowrap;
}


.listbox .views-row.views-row-first {
  margin-top:10px;
}

.listbox .views-row.views-row-last {
  margin-bottom:0em;
}

.listbox .views-row .views-field-field-message-user-ref,
.listbox .views-row .views-field-rendered-entity, 
.listbox .views-row .views-field-rendered-entity-1 {
    display:none;
}

.listbox .views-row:hover .views-field-field-icon,
.listbox .views-row:hover .views-field-field-subject,
.listbox .views-row:hover .views-field-field-subject-1
{
    display:none;
}


.listbox .views-row:hover .views-field-field-message-user-ref,
.listbox .views-row:hover .views-field-rendered-entity, 
.listbox .views-row:hover .views-field-rendered-entity-1 {
    display:block;
}


#block-views-message-private-block-2 {
    background-color:transparent;
    padding-top:0;
}