/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";
@import "layout.css";
@import "message.css";
@import "blog.css";

.region.region-footer,
.region.region-navigation {
   background-color: #444444;
   color:white;
}

.region.region-navigation ul.menu a {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  position: relative;
  text-transform: uppercase;
}


.region.region-navigation ul.menu a img {
  left: -2.5em;
  position: absolute;
  top: -.25em;
}

.region.region-navigation ul.menu a.active {
  border-bottom: 1px solid white;
}


#main-menu li a {
    color:#999999;
    text-transform:uppercase;
    font-weight:bold;
    font-size:24px;
}
#main-menu li a:hover {
    color:#AC1933;
}


#main-menu li a.active {
    color:black;
}

.section-info #main-menu li.menu-988 a {
    color:black;
}

.section-blog #main-menu li.menu-665 a {
    color:black;
}

#block-menu-block-1  li.last::after,
#block-menu-block-1 li.last::after {
	content:"";
	margin-left:0em;
}

#block-menu-block-1  li::after {
  content: "|";
	margin-left:0.5em; 
            color:#DFDFDF;
    text-transform:uppercase;
    font-weight:bold;
    font-size:16px;
  
}

#block-menu-block-1 li.last::after {
  content: "";
  margin-left: 0;
}

.sidebar .menu-block-wrapper li {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-weight:bold;
  margin-top: 0.5em;
}

/*
 *  Primary Tabs        
 */

.tabs-primary, .tabs-secondary {
  background-image: none;
  font-size: 0.7em;
  list-style: outside none none;
  margin: -1.75em 0 1.5em 0;
  overflow: hidden;
  padding: 0 2px 0 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

a.tabs-primary__tab-link:active, a.tabs-primary__tab-link.is-active {
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}



.no-sidebars .tabs-primary, .no-sidebars .tabs-secondary {
    display:block;
    top:-1em;
    position:static;
}

#content:hover .tabs-primary {
    display:block;
}

.account img {
  border-radius: 50%;
  margin-right: 0.5em;
  vertical-align: middle;
}

.sidebars .block {
    background-color:#F1F1F1;
    
}

#block-views-nachrichten-block-3 {
  background-color: transparent;
  padding-top: 0;
}

.page-node #content {
	background-color:white;
	position:relative;
}

.header__site-name span, h1 {
  text-transform:uppercase;
 }


h1.page__title {
/*    text-align:center;
    margin-left:1em;
    margin-top:2em;*/
}

.section-gallery .page__title {
	margin-left: 15px;
}

.header__site-link span {

  display: block;
  line-height: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.page-user-edit  #content,
.page-user.not-logged-in #content,
.page-taxonomy-term #content, .page-node #content, .sidebar .block {
  display: block;
  padding: 1em;
}

.form-item {
  margin: 0.75em 0;
}

.form-type-radios .form-type-radio {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.password-strength {
  float: none;
  margin-top: 1.4em;
  width: 17em;
  margin-bottom: 1em;
}

/*.page-user-edit #content, .page-user.not-logged-in #content {
  font-size: 2em;
  padding-top: 0.5em;
}*/

li.account img {
  border: 1px solid #AC1933;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-right: 0.25em;
  vertical-align: sub;
  display: none;
}

li.logout > a {
  border: 2px solid #AC1933;
  border-radius: 25%;
  display: block;
  font-size: 0.5em;
  height: 1em;
  line-height: 1.25em;
  margin-top: 0.75em;
  text-align: center;
  vertical-align: sub;
  width: 1em;
}

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

#reply-form .description {
  display:none;
}

.field-name-field-message-user-ref * {
  max-width: 100%;
}

.profile {
    clear: both;
    margin: 0.5em;
    position:relative;
}

.profile.full {
  background-color: #f1f1f1;
  box-sizing: border-box;
  padding: 3em;
}

.profile.full svg {
  position: absolute;
  right: 0;
  top: 18em;
  width: 6em;
}

.profile.self.full > a {
  width: 100%;
  text-align: center;
}

.profile.full img {
  border-radius: 50%;
}

.profile h3 {
  border-bottom: none;
  margin: 0;
  font-size:0.75em;
  hyphens:auto;
}

.profile.full > h3 {
  font-size: 2em;
  text-align: center;
}

.profile .field.field-name-field-bezirk {
  text-align: center;
}

.profile .user-picture {
	margin:0;
	float:none;
}

/*
 *  Taxonomie-Seiten
 */
.page-taxonomy #content {
  padding: 0!important;
}


.views-row .views-field.views-field-edit-term {
  display: none;
  position: absolute;
}

.views-row:hover .views-field.views-field-edit-term {
    display:block;
}

.views-field.views-field-name {
  padding-bottom: 1em;
  padding-top: 3em;
}

.views-field.views-field-description {
  font-size: 0.9em;
}

.btn,
.flag-outer-besitz a,
input[type="submit"] {
  background-color: #AC1933;
  border: 0 none;
  color: white !important;
  margin:1em;
  margin-right: 0;
  padding: 10px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -moz-box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: --2px 2px 2px rgba(0,0,0,0.3);
  box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
}

input[type="submit"]:first-child {
    margin-left:0;
}

/*
 *	Splash Page
 */
 
article.node-splashpage {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
}

article.node-splashpage  img {
    position: absolute;
    top: 50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}


/*
 * Form Elemente
*/

#edit-field-titelbild {
  max-width: 33%;
  padding-right:3em;
  box-sizing:border-box;
}

div.image-preview {
    float: none;
    padding: 0;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
    width:auto;
}

#edit-body-und-0-format {
    display:none;
}

.autocomplete-deluxe-container {
  width: 100% !important;
  box-sizing: border-box;
}

textarea {
    line-height:1.5em;
    font-size:14px;
    padding-right: 15%;
    min-width:100%;
}

#content input.form-text, textarea, .autocomplete-deluxe-container, .form-select  {
    border:0px solid transparent;
    background-color:rgba(255, 0, 0, 0.1) !important;
}

.views-exposed-form input.form-text, .views-exposed-form textarea, .views-exposed-form .autocomplete-deluxe-container, .views-exposed-form .form-select  {
    background-color:white !important;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    outline:1px solid lightgrey;
}

.field-widget-options-select {
    display:inline-block;
    margin-right:1em;
}

#edit-field-titelbild-und-0-ajax-wrapper label {
    display:block;
}

.form-type-managed-file label {
    display:none;
}

#edit-cancel {
  margin-left: 1em;
}

/*
 *  Login Block
 */
/*
#block-user-login .item-list {
    display:none;
}

#block-user-login:hover .item-list {
    display:block;
}
*/

 
#block-user-login {
  display: block;
  max-width: 1200px;
  padding-top: 1em;
  position: relative;
  text-align: right;
  width: auto;
}
 
 #user-login-form {
    text-align: left;
    margin-right: 21em;
}


#block-user-login h2, #block-user-login input {
  font-size: 1.25em;
  margin-right: 1em;
}

#user-login-form #edit-submit {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

#user-login-form > div > *,
#block-user-login > * {
  display: inline-block;
}

#user-login-form > div > .item-list {
  display: block;
  line-height: 125%;
  position: absolute;
  right: 0;
  text-align: right;
  top: 1.5em;
  width: 20em;
}

#user-login-form > div > .item-list ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

#user-login-form > div > .item-list li {
  display: inline-block;
  width: 100%;
}

#user-login-form > div > .item-list li a {
    color:white;
    font-size:0.9em;
}

.text-format-wrapper {
  display: block;
}

.field-widget-image-image {
    position:relative;
}

#edit-field-titelbild {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 450px;
  padding-right: 0em;
  position: relative;
  margin-bottom:3em;
}

.field-widget-image-image .image-widget-data {
  bottom: 0;
  display: block;
  max-width: 100%;
  position: static;
}

.field-widget-image-image .image-widget-data .form-type-textfield .description  {
    display:none;
}

.field-widget-image-image .image-widget-data .form-type-textfield input:focus+.description {
    display:block;
}

.image-widget-data input:first-child {
  margin-top: 340px !important;
}

.field-widget-image-image:hover .image-widget-data {
}

.field-widget-image-image .form-type-managed-file > .description {
  background: rgba(0, 0, 0, 0) url("../images/nopicture.png") no-repeat scroll center center;
  box-sizing: border-box;
  height: 280px;
  max-width: 100%;
  padding-top: 270px;
  position: absolute;
  top: 0;
  width: 280px;
  background-size:cover;
}

.field-widget-image-image .form-type-managed-file > .description span {
  background-color: white;
  opacity: 1;
  top: 290px;
  position: absolute;
}

#edit-field-profilbild .image-preview > img {
  border-radius: 50%;
}

#edit-field-profilbild .field-type-text {
  display: none;
}

.views-ui-display-tab-actions .ctools-button-processed li a, .views-ui-display-tab-actions .ctools-button-processed input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #ac1933 !important;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-top: 0;
}