@charset "utf-8";

/* CSS Document */
@media screen and (max-width: 480px) {
.img-thumb_v {
	width: 100%;
	margin-top: 20px;
}
}

@media screen and (min-width: 480px) {
.img-thumb_v {
	height: 250px;
	margin-top: 20px;
}
}

@media screen and (max-width: 480px) {
.img-thumb_h {
	width: 100%;
	margin-top: 20px;
}
}

@media screen and (min-width: 480px) {
.img-thumb_h {
	width: 250px;
	margin-top: 50px;
}
}




.festehoehe {
	height: 300px;
}

.rand {
	border:1px solid #fff;
	vertical-align: middle;
	transform:rotate(10);
	
}
.rand img {
vertical-align: middle;


    transform: rotate(4deg) scale(1) translate(5px);
    -webkit-transform: rotate(4deg) scale(1) translate(5px);
    -moz-transform: rotate(4deg) scale(1) translate(5px);
    -o-transform: rotate(4deg) scale(1) translate(5px);
    -ms-transform: rotate(4deg) scale(1) translate(5px);


}

	