@charset "utf-8";

/* CSS Document */
@media screen and (max-width: 480px) {
.img-thumb_v {
	width: 100%;
	margin-top: 20px;
}
}

@media screen and (min-width: 480px) {
.img-thumb_v {
	height: 250px;
	margin-top: 20px;
}
}

@media screen and (max-width: 480px) {
.img-thumb_h {
	width: 100%;
	margin-top: 20px;
}
}

@media screen and (min-width: 480px) {
.img-thumb_h {
	width: 250px;
	margin-top: 50px;
}
}




.festehoehe {
	height: 300px;
}

.rand {
	border:1px solid #e1e1e1;
	vertical-align: middle;
	transform:rotate(10);
	
}
.rand img {
vertical-align: middle;




}

	